<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <base href="/">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <th:block th:replace="common/header :: header"/>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">관리자 페이지</h1>
    <p class="lead">사용자 정보를 볼 수 있는 관리자 페이지입니다 .</p>
</div>

<form th:action="@{/admin/search/member}" method="post" style="margin-left: 1%; margin-bottom: 3%;">
    <select name="type" id="type" class="form-select"
            style="  height: calc(1.5em + 0.75rem + 2px);  padding: 0.375rem 0.75rem;">
        <option value="id" selected>
            ID
        </option>
        <option value="name">
            이름
        </option>
    </select>
    <input type="text" class="form-control" id="value" name="value" placeholder="검색할 인자를 입력하여 주십시오 ."
           style="width:30%; display: inline-block">
    <button type="submit" class="btn btn-secondary" style="margin-top: -6px;">검색</button>
</form>

<table class="table">
    <tr>
        <td>NO.</td>
        <td>ID</td>
        <td>이름</td>
        <td>기능</td>
    </tr>
    <tr th:each="dto, i : ${data}">
        <td th:text="${start + i.index}"></td>
        <td th:text="${dto.userId}"></td>
        <td th:text="${dto.userName}"></td>
        <td>
            <a type="button" th:href="@{'/admin/user/delete?user-id=' + ${dto.userId}}">
                삭제
            </a>
        </td>
    </tr>

</table>
<div>
    <button id="prev" th:value="${prev}" onclick="checkPage('prev')"><</button>
    <span th:each="pageNum : ${pageList}" th:inline="text">
        <a th:href="@{'/admin/users?page=' + ${pageNum}}">[[${pageNum}]]</a>
    </span>
    <button id="next" th:value="${next}" onclick="checkPage('next')">></button>
</div>
</body>
</html>