<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <base href="/">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <th:block th:replace="common/header :: header"/>
    <th:block th:replace="common/nav :: nav"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">실시간 검색 결과</h1>
    <p class="lead">구글 검색 엔진으로 부터 얻은 크롤링 결과입니다.</p>
</div>

<form th:action="@{/search/keyword}" method="post" style="margin-left: 1%; margin-bottom: 3%;">
    <label>
        <input type="text" class="form-control" id="keyword" name="keyword" placeholder="검색할 인자를 입력하여 주십시오 ."
               style="display: inline-block">
    </label>
    <button type="submit" class="btn btn-secondary" style="margin-top: -6px;">검색</button>
</form>

<table class="table">
    <tr>
        <td>NO.</td>
        <td>URL</td>
        <td>타이틀</td>
        <td>검색어 출현수</td>
    </tr>
    <tr th:each="dto, i : ${data}">
        <td th:text="${i.index + 1}"></td>
        <td th:text="${dto.url}"></td>
        <td th:text="${dto.title}"></td>
        <td th:text="${dto.count}"></td>
</table>
</body>
</html>